# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data - raw files
data/raw/
!data/clean/retail_sales_clean.csv
*.csv
*.xlsx
*.json

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/